{% extends 'base.html' %}
{% block content %}
    <div class="row mb-5">
        <div class="col-12">
            <h2 class="mb-3 text-title text-center">Projetos</h2>
        </div>
    </div>
    <div class="row">
        {% for project in projects %}
        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="card my-3">
                <img src="{{project.image.url}}" class="card-img-top" alt="{{project.title}}">
                    <div class="card-body">
                        <h3>{{project.title}}</h3>
                        <p class="card-text">{{project.description}}</p>
                        <p>{{project.date_at}}</p>
                        <button type="button" class="btn btn-sm btn-outline-primary"><a href="#" class="card-link">Site</a></button>
                        <button type="button" class="btn btn-sm btn-outline-success"><a href="#" class="card-link">Github</a></button>
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
