:root {
    --bg-color-light: #fff;
    --bg-color-lucasmontano: #0D1117;
    --link-color-lucasmontano: #1f6feb;
    --bg-printf-lucasmontano: #272822;
    --color-light: #fff;
    --color-dark: #0D1117;
    --color-steelblue: steelblue;
    --color-filipedeschamps: #333;
}


* {
    margin: 0;
    bottom: 0;
    border: 0;
    box-sizing: border-box;
}


body {
    
    transition: 0.5s;
}


input[type="checkbox"] {
    display: none;
}

.bi {
    font-size: 1.5rem;
    cursor: pointer;
}


.bi-moon {
    display: none;
}


.card {
    transition: transform 0.2s ease; /* Efeito de transição suave */
}

.card:hover {
    /* background-color: black; */
    border: 1px solid var(--link-color-lucasmontano);
    color: var(--link-color-lucasmontano);      
    transform: translateX(-5px); /* Desloca o card para cima ao passar o mouse */
}

/* CSS personalizado para as setas do slider */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: var(--color-steelblue);
}

a {
    text-decoration: none;
    color: var(--color-filipedeschamps); 
}


a:hover {
    color: var(--link-color-lucasmontano);
}

.dark .bi-sun {
    display: none;
}

.dark .bi-moon {
    display: block;
}

.dark {
    background-color: var(--bg-color-lucasmontano);
    color: var(--color-light);
}

.dark a {
    text-decoration: none;
    color: var(--color-light); 
}

.dark a:hover {
    color: var(--link-color-lucasmontano);
}


.dark .card {
    border: 0.5px solid var(--color-light);
    transition: transform 0.2s ease; 
    background-color: var(--bg-printf-lucasmontano);
}





/* // X-Small devices (portrait phones, less than 576px)
/* mobile first */

@media(min-width: 320px) {
    .carousel.item {
        font-size: 8px;
    }
    h5 {
        color: #1f6feb;
        font-size: 0.2;
    }
    .carousel-caption .d-none .d-md-block {
        display: block;
    }
}



/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1200px) {}
/* 


/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}