:root {
    --bg-color-light: #fff;
    --bg-color-lucasmontano: #0D1117;
    --link-color-lucasmontano: #1f6feb;
    --bg-printf-lucasmontano: #272822;
    --color-light: #fff;
    --color-dark: #0D1117;
    --color-steelblue: steelblue;
    --color-filipedeschamps: #333;
    --color-slateblue: slateblue;
}


* {
    margin: 0;
    bottom: 0;
    border: 0;
    box-sizing: border-box;
}


body {
    
    transition: 0.5s;
}


input[type="checkbox"] {
    display: none;
}

.bi {
    font-size: 1.5rem;
    cursor: pointer;
}


.bi-moon {
    display: none;
}


.card {
    transition: transform 0.6s ease; /* Efeito de transição suave */
}

.card:hover {
    border: 1px solid var(--link-color-lucasmontano);
    color: var(--link-color-lucasmontano);      
    transform: translateY(-5px); 
}

/* CSS personalizado para as setas do slider */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: var(--color-steelblue);
}

a {
    text-decoration: none;
    color: var(--color-filipedeschamps); 
}


a:hover {
    color: var(--link-color-lucasmontano);
}

.dark .bi-sun {
    display: none;
}

.dark .bi-moon {
    display: block;
}

.dark {
    background-color: var(--bg-color-lucasmontano);
    color: var(--color-light);
}

.dark a {
    text-decoration: none;
    color: var(--color-light); 
}

.dark a:hover {
    color: var(--color-steelblue);
}


.dark .card {
    transition: transform 0.6s ease;
    background-color: var(--bg-printf-lucasmontano);
}


a:hover.card-link {
    color: var(--color-light);
}


