{% block content %}
        <div class="d-flex justify-content-start">
            <div class="line"></div>
            <div class="header">
                <h1>Luan Carminatti</h1>
                <p>
                    Canoas/RS
                </br>
                     E-mail: luancarminatt@gmail.com
                </br> 
                     Linkedin: https://www.linkedin.com/in/luan-carminatti-244665159 
                </br>     
                     GitHub: https://github.com/Minatti     
                </p>
            </div>
            <div class="body"> 
                <div class="title-mission">
                    <h3>OBJETIVO:</h3>
                </div>
                <div class="desc-mission">
                    <p>
                        Aprender, evoluir e buscar elevar o nível com a tecnologia.
                    </p>
                </div>
                <div class="title-experience">
                    <h3>EXPERIÊNCIA</h3>
                </div>
                <div class="desc-experience">
                    <h4>Analista de Planejamento Pleno </h4>
                    <p>Rede Brasil Gestão de Ativos LTDA | 11/2022 – 10/2023</p>    
                    <ul>
                        <li>Realizar a extração, transformação e carregamento de dados;</li>
                        <li>Criação, execução, manutenção e refatoração de procedure/queries;</li>
                        <li>Otimizar e automatizar rotinas de processos;</li>
                        <li>Desenvolver relatórios;</li>
                        <li>Automação de processos;</li>
                        <li>Contato interno com diversas áreas para entender os processos;</li>
                    </ul>
                    <p>Tecnologias: SQL Server, Microsoft Power Bi, Microsoft Excel, Figma, Python</p>            
                </div>
                <div class="desc-experience">
                    <h3>Analista de Planejamento Pleno</h3>
                    <p>Rede Brasil Gestão de Ativos LTDA | 06/2022 – 11/2022</p>
                    <ul>
                        <li>Acompanhamento estratégico de indicadores operacionais;</li>
                        <li>Elaboração de relatórios operacionais, de produção, de metas e de resultados;</li>
                        <li>Contato interno com demais áreas para o atingimento de melhores resultados;</li>
                        <li>Envio de ações eletrônicas e criação de mailings para atuação na operação.</li>                                        
                    </ul>
                    <p>Tecnologias: SQL Server, Microsoft Excel </p>                        
                </div>
                <div class="desc-experience">
                    <h3>Analista de TI/Desenvolvedor</h3>
                    <p>Savar Participações LTDA | 06/2021 – 08/2021</p>
                    <ul>
                        <li>Formulário para pesquisa de satisfação dos clientes;</li>
                        <li>Treinamento interativo SST/DUE DILLIGENCE COMPLIANCE, com gerador de certificado para conclusão do curso;</li>
                        <li>Funcionalidade para gerar pdf com os termos de políticas LGPD aos usuários internos;</li>
                        <li>Automação para derrubar sessões ativas no servidor por UID do usuário;</li>
                    </ul>
                    <p>Tecnologias: Html, Css, Bootstrap, Php, Javascript, JQuery, Sql Server, Python;</p>
                </div>
                <div class="desc-experience">
                    <h3>Analista de MIS </h3>
                    <p>Rede Brasil Gestão de Ativos LTDA | 12/2018 – 06/2021</p>
                    <ul>                                                                                            
                        <li>Realizar a extração, transformação e carregamento de dados;</li>
                        <li>Criação, execução, manutenção e refatoração de procedure/queries;</li>
                        <li>Otimizar e automatizar rotinas de processos;</li>
                        <li>Criação de Controles/Relatórios;</li>
                        <li>Análise de dados;</li>
                    </ul>
                    <p>Tecnologias: Php, Python, Bootstrap, SQL Server; 
                    </p>
                </div>
                <div class="desc-experience">
                    <h3>FORMAÇÃO:</h3>
                    <ul>
                        <li>Análise e Desenvolvimento de Sistemas (Uniasselvi - 4º semestre);</li>
                        <li>Técnico em Informática (QI Faculdade e Escola Técnica - Concluído); </li>
                        <li>Curso de Lógica de Programação (Treinaweb - Concluído);</li>    
                        <li>Curso de SQL Server Desenvolvedor (Treinaweb - Concluído);</li>     
                        <li>Curso de Git (B7web nº 1642367); </li></li>                                 
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}