{% extends 'base.html' %}
{% block content %}
        <div class="d-flex flex-column align-items-start border px-5">
            <div class="col-sm-8 col-md-12 my-5">
                <h3>Luan Carminatti</h3>
                <p>
                    Canoas/RS
                <br>
                    Linkedin: https://www.linkedin.com/in/luan-carminatti-244665159/
                <br>
                    Github: https://github.com/Minatti
                </p>
                <div class="title-mission">
                    <h3>OBJETIVO</h3>
                </div>
                <div class="desc-mission">
                    <p>
                        Aprender, evoluir e buscar elevar o nível do conhecimento e  da carreira.
                    </p>
                </div>
                <div class="title-experience py-3">
                    <h3>EXPERIÊNCIA</h3>
                </div>
                <div class="desc-experience">
                    <h4>Analista de Planejamento Pleno </h4>
                    <p>Rede Brasil Gestão de Ativos LTDA | 11/2022 – 10/2023</p>    
                    <ul>
                        <li>Realizar a extração, transformação e carregamento de dados;</li>
                        <li>Criação, execução, manutenção e refatoração de procedure/queries;</li>
                        <li>Otimizar e automatizar rotinas de processos;</li>
                        <li>Desenvolver relatórios;</li>
                        <li>Automação de processos;</li>
                        <li>Contato interno com diversas áreas para entender os processos;</li>
                        <li>Acompanhamento estratégico de indicadores operacionais;</li>
                        <li>Elaboração de relatórios operacionais, de produção, de metas e de resultados;</li>
                        <li>Contato interno com demais áreas para o atingimento de melhores resultados;</li>
                        <li>Envio de ações eletrônicas e criação de mailings para atuação na operação.</li> 
                    </ul>
                    <p>Tecnologias: SQL Server, Microsoft Power Bi, Microsoft Excel, Figma, Python</p>            
                </div>                                                                
                <div class="desc-experience py-3">
                    <h3>Analista de TI/Desenvolvedor</h3>
                    <p>Savar Participações LTDA | 06/2021 – 08/2021</p>
                    <ul>
                        <li>Formulário para pesquisa de satisfação dos clientes;</li>
                        <li>Treinamento Interativo SST/DUE DILLIGENCE COMPLIANCE, com certificado DE conclusão;</li>
                        <li>Funcionalidade para gerar pdf com os termos de políticas LGPD aos usuários internos;</li>
                        <li>Automação para derrubar sessões ativas no servidor por UID do usuário;</li>
                    </ul>
                    <p>Tecnologias: Html, Css, Bootstrap, Php, Javascript, JQuery, Sql Server, Python;</p>
                </div>
                <div class="desc-experience py-3">
                    <h3>Analista de MIS</h3>
                    <p>Rede Brasil Gestão de Ativos LTDA | 12/2018 – 06/2021</p>
                    <ul>                                                                                            
                        <li>Realizar a extração, transformação e carregamento de dados;</li>
                        <li>Criação, execução, manutenção e refatoração de procedure/queries;</li>
                        <li>Otimizar e automatizar rotinas de processos;</li>
                        <li>Criação de Controles/Relatórios;</li>
                        <li>Análise de dados;</li>
                    </ul>
                    <p>Tecnologias: Php, Python, Bootstrap, SQL Server; 
                    </p>
                </div>
                <div class="desc-experience">
                    <h3>FORMAÇÃO</h3>
                    <ul class="py-3">
                        <li>Análise e Desenvolvimento de Sistemas (Uniasselvi - 4º semestre);</li>
                        <li>Técnico em Informática (QI Faculdade e Escola Técnica - Concluído); </li>
                        <li>Curso de Lógica de Programação <a href="https://www.treinaweb.com.br/certificado/GTNLMFWWRVS0" target="_blank">(Treinaweb);</a></li>    
                        <li>Curso de SQL Server Desenvolvedor <a href="https://www.treinaweb.com.br/certificado/VXUVZESUWA9I" target="_blank">(Treinaweb);</a></li>     
                        <li>Curso de Git <a href="https://alunos.b7web.com.br/media/certificates/certificado_1642367.jpg" target="_blank">(B7web nº 1642367);</a></li>
                        <li>Curso de HTML5 e CSS3 <a href="https://alunos.b7web.com.br/media/certificates/certificado_5708167.jpg" target="_blank">(B7web nº 5708167);</a></LI>                               
                        <li>Curso de Javascript <a href="https://alunos.b7web.com.br/media/certificates/certificado_5518180.jpg" target="_blank">(B7web nº 5518180);</a></li>
                        <li>Curso de Banco de Dados <a href="https://alunos.b7web.com.br/media/certificates/certificado_8425881.jpg" target="_blank">(B7web nº 8425881);</a></li>   
                    </ul>
                </div>  
            </div>
        </div>
{% endblock %}
