{% block content %}

        <div class="d-flex justify-content-start">
            <div class="line"></div>
            <div class="header">
                <h1>Luan Carminatti</h1>
                <p>
                    Canoas/RS
                </br>
                     E-mail: luancarminatt@gmail.com
                </br> 
                     Linkedin: https://www.linkedin.com/in/luan-carminatti-244665159 
                </br>     
                     GitHub: https://github.com/Minatti     
                </p>
            </div>
            <div class="body"> 
                <div class="title-mission">
                    <h3>OBJETIVO:</h3>
                </div>
                <div class="desc-mission">
                    <p>
                        Aprender, evoluir e buscar elevar o nível com a tecnologia.
                    </p>
                </div>
                <div class="title-experience">
                    EXPERIÊNCIA
                </div>
                <div class="desc-experience">
                    <h5>Analista de Planejamento Pleno </h5>
                    <p>Rede Brasil Gestão de Ativos LTDA | 11/2022 – 10/2023</p>
                    
                    <ul>
                        <li>Realizar a extração, transformação e carregamento de dados;</li>
                        <li>Criação, execução, manutenção e refatoração de procedure/queries;</li>
                        <li>Otimizar e automatizar rotinas de processos;</li>
                        <li>Desenvolver dashboard/relatório;</li>
                        <li>Contato interno com demais áreas para entender a necessidade do problema e entregar a solução.</li>
                    </ul>
                        
                        
                        
                        
                        
                </div>
            


            Tecnologias | SQL SERVER, Microsoft Power Bi, Figma, Python

Analista de Planejamento Pleno 
Rede Brasil Gestão de Ativos LTDA | 06/2022 – 11/2022

* Acompanhamento estratégico de indicadores operacionais;
* Elaboração de relatórios operacionais, de produção, de metas e de resultados;
* Contato interno com demais áreas para o atingimento de melhores resultados;
* Envio de ações eletrônicas e criação de mailings para atuação na operação.

Tecnologias | SQL Server, Microsoft Excel, Microsoft  

Analista de TI/Desenvolvedor
Savar Participações LTDA | 06/2021 – 08/2021

Participei de projetos no desenvolvimento web com a equipe, criando formulário para a pesquisa de satisfação de atendimento, 
curso online de treinamento interativo SST/DUE DILLIGENCE COMPLIANCE com geração de certificado de conclusão;

Tecnologias | HTML, CSS, Bootstrap, PHP, Javascript, JQuery, SQL SERVER;

Analista de MIS 
Rede Brasil Gestão de Ativos LTDA | 12/2018 – 06/2021

Reponsabilidades:
* Realizar a extração, transformação e carregamento de dados ETL | SSIS;
* Criação, execução, manutenção e refatoração de procedure/queries;
* Otimizar e automatizar rotinas de processos;
* Criação de Controles/Relatórios;

Projetos:

* Desenvolvimento do site intranet, com foco em disponibilidade de informações.
* Desenvolvimento do controle de gestão administrativa de rank.
* Desenvolvimento para automação do download de arquivo via FTP e upload para o servidor local.
* Automação dos processos de pagamentos.
* Participação na criação de relatórios no Birt Report.

Tecnologias | Php, Python, Bootstrap, SQL SERVER; 
  
Formação *
  
Análise e Desenvolvimento de Sistemas (Uniasselvi - 4º semestre); 
Técnico em Informática (QI Faculdade e Escola Técnica - Concluído); 
Curso de Lógica de Programação (Treinaweb - Concluído); 
Curso de SQL Server Desenvolvedor (Treinaweb - Concluído); 
Curso de Git (B7web nº 1642367); 
            </div>
        </div>
{% endblock %}